<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
    <meta charset="utf-8" />
    <title>Service unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://secure.gamblingcommission.gov.uk/offline/public/stylesheets/application.css" rel="stylesheet"
        media="all" />
</head>

<body class="govuk-template__body app-example-page">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <header class="govuk-header " role="banner" data-module="header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a href="http://www.gamblingcommission.gov.uk" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                        <span class="govuk-header__logotype-text">
                            Gambling Commission
                        </span>
                    </span>
                </a>
            </div>
            <div class="govuk-header__content">
                <a href="#" class="govuk-header__link govuk-header__link--service-name">
                    Apply for a personal functional licence
                </a>
            </div>
        </div>
    </header>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
                    <p class="govuk-body">
                        You will be able to use this service from 10am on Friday 8 March 2019.
                    </p>
                    <p class="govuk-body">
                            If you have any queries about your application, please contact the Licensing team on 0121
                            230 6666 (Option 2).
                    </p>
                </div>
            </div>
        </main>
    </div>
    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
              <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                
                <div class="footer-meta-inner">
                  <ul class="govuk-footer__inline-list">        
                    <li class="govuk-footer__inline-list-item">
                      <a class="govuk-footer__link" href="/http://www.gamblingcommission.gov.uk/Footer/Privacy-and-cookies.aspx"
                        target="_Blank">Privacy Policy</a>
                    </li>
                  </ul>
                </div>
              
              </div>
            </div>
          </div>
        
    </footer>
    <script src="https://secure.gamblingcommission.gov.uk/offline/public/application.js"></script>

</body>

</html>