<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <!--<![endif]-->



    <!--[if !IE 8]><!-->
        <link href="https://gc-frontend-cdn.herokuapp.com/public/stylesheets/application.css" rel="stylesheet" />

        <!--<![endif]-->
    
        <!--[if IE 8]>
        <link href="https://gc-frontend-cdn.herokuapp.com/public/stylesheets/application-ie8.css" rel="stylesheet" />
      <![endif]-->
      
<link href="/public/accessible-autocomplete.min.css" media="all" rel="stylesheet" type="text/css" />


