{% extends "layout-signedin.html" %}

{% block pageTitle %}
You can't do this online at the moment
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/account/manage" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">
            You can't do this online at the moment
        </h1>

        <p class="govuk-body">
            The following changes to your licence cannot be made online:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Change your name</li>
            <li>Change your home or correspondence address</li>
            <li>Surrender your licence</li>
        </ul>

        <p class="govuk-body">
            We are working to bring these features online soon. You can contact us to make these changes on:
        </p>

        <ul class="govuk-list">
                <li>Email <a href="mailto:licensing@gamblingcommission.gov.uk">licensing@gamblingcommission.gov.uk</a></li>
                <li>Call us on 0121 230 6666 (Option 2)</li>
            </ul>


    </div>

</div>


{% endblock %}