{% extends "layout.html" %}

{% block pageTitle %}
Privacy statement
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We are processing a request to surrender your licence
    </h1>

    <p class="">On [surrender date (DD MMMM YYYY)] you requested to surrender your personal [licence type] licence.</p>

    <p class="">If you want to discuss this, you can call us on 0121 230 6666 (Option 2) or email <a href="#"
        class="govuk-link">licensing@gamblingcommission.gov.uk</a>.</p>

    <p class="">When contacting us please quote your account number, which is [account number]</p>

    <a href="#" class="govuk-link">Sign out</a>

  </div>
</div>

{% endblock %}