{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/maintenance/app/currentname" class="govuk-back-link">Back</a>

            
 
      
            <form method="POST"> 
                    <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                    <span class="govuk-caption-l">Renew your licence</span>
                                <h1 class="govuk-fieldset__heading">
                                What is your new name?
                                </h1>
                              </legend>
                              <span id="changed-name-hint" class="govuk-hint">
                                This includes changing your title, last name or spelling your name differently.
                              </span>

                            
                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="title">
                                      Title
                                    </label>
                                    <select class="govuk-select" id="title" name="title">
                                      <option value="Mr" selected>Mr</option>
                                      <option value="Mrs" >Mrs</option>
                                      <option value="Miss" >Miss</option>
                                      <option value="Ms" >Ms</option>
                                    </select>
                                  </div>

                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="firstname">
                                      First name
                                    </label>
                                    <input class="govuk-input" id="firstname" name="firstname" type="text" value="{{accountData.firstName}}">
                                  </div>

                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="middlename">
                                      Middle name
                                    </label>
                                    <input class="govuk-input" id="middlename" name="middlename" type="text"  value="{{accountData.middleName}}">
                                  </div>

                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="lastname">
                                      Last name
                                    </label>
                                    <input class="govuk-input" id="lastname" name="lastname" type="text"  value="{{accountData.lastName}}">
                                  </div>
                            
                            </fieldset>
                          </div>

                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </form>

           
    </div>

</div>

{% endblock %}