{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/maintenance/app/personal-criminal" class="govuk-back-link">Back</a>




        <form action="" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="ke-investigations-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Renew your licence</span>
                            In the last 5 years, have you been subject to any investigation by a professional, statutory, regulatory or government body in Great Britain or abroad?
                        </h1>
                    </legend>
                    

                    <p class="govuk-body">
                      This includes any investigations that are pending.
                    </p>

                  
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ke-investigations-1" name="investigations" type="radio"
                                value="yes" data-aria-controls="conditional-ke-investigations-1"
                                {{ checked('investigations','yes') }}>
                            <label class="govuk-label govuk-radios__label" for="ke-investigations-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ke-investigations-1">

                            <p class="govuk-body">
                                <a href="personal-investigations-add">Add details</a>
                            </p>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ke-investigations-2" name="investigations" type="radio"
                                value="no" data-aria-controls="conditional-ke-investigations-2"
                                {{ checked('investigations','no') }}>
                            <label class="govuk-label govuk-radios__label" for="ke-investigations-2">
                                No
                            </label>
                        </div>


                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock %}