{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/maintenance/app/verify-employer" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Renew your licence</span>You have chosen to have your ID documents verified
            by the
            your employer or prospective employer
        </h1>

        <p class="govuk-body">
            We require a completed <a href="https://secure.gamblingcommission.gov.uk/pflapply/home/idform" target="_Blank">ID verification form</a>.
        </p>
        <p class="govuk-body">
            You can upload the ID Verification form by taking a picture of it using a mobile or tablet device. </p>
        <p class="govuk-body">We do not require verified copies of the ID documents.</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                We may reject your application if documents are incomplete or not provided.
            </strong>
        </div>

        <form action="" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="file-upload-1">
                    Upload completed ID verification form
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Upload and continue
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}