{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Maintain your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <a href="/{{version}}/{{appJourney.back}}" class="govuk-back-link">Back</a>
           
 
      
        <form method="POST" action="/{{version}}/{{appJourney.submit}}"> 
            <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="key-event-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-l">Maintain your licence</span>
                        <h1 class="govuk-fieldset__heading">
                          In the last 5 years, have you failed to declare any of the following:
                        </h1>
                      </legend>

                                 
                      <ul class="govuk-list govuk-list--bullet">
                            <li>an offence under  <a href="http://www.legislation.gov.uk/ukpga/2005/19/schedule/7" target="_Blank">Schedule 7 of the Gambling Act 2005</a>
                                <span class="govuk-body-s">(Link opens in a new window)</span> </li>
                            <li>any investigations by any professional or statutory bodies in Great Britain or abroad</li>
                            <li>any sanctions or disciplinary action imposed on you</li>
                            <li>your disqualification from acting as a company director</li>
                            <li>your petition for bankruptcy, sequestration or entering into an Individual Voluntary Arrangement (IVA)</li>
                        </ul>

                                           
                      <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="key-event-1" name="key-event" type="radio" value="yes" {{ checked('key-event', 'yes') }}>
                          <label class="govuk-label govuk-radios__label" for="key-event-1">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="key-event-2" name="key-event" type="radio" value="no"{{ checked('key-event', 'no') }}>
                          <label class="govuk-label govuk-radios__label" for="key-event-2">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>

        <button type="submit" class="govuk-button">
            Save and continue
        </button>
    </form>

           
    </div>

</div>

{% endblock %}