{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Is this your current email address?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds"> 
      
      <h1 class="govuk-heading-l">
       Update your phone number
      </h1>

      <p class="govuk-body">
        It is important that your phone number is kept up to date.
      </p>

       <p class="govuk-body">
       Your phone number is used to contact you if we have any questions about any information submitted in relation to your licence or maintenance application.
      </p>

  

      <button type="submit" class="govuk-button">
        Continue to update your phone number
      </button>
           
    </div>

</div>

{% endblock %}