{% extends "layout-signedinRenewAppComplete.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



        <form class="form" method="post">




            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-heading-l">
                            Maintenance application submitted
                        </h1>
                        <h2 class="govuk-heading-m">Your application reference is MAINT-24523</h2>
                        <p class="govuk-body">
                            We have sent you an email confirming the submission of your application.
                        </p>
                        <p class="govuk-body">
                        <a href="/{{version}}/account/hub2">Return to your account hub</a>  </p>

                        <h2 class="govuk-heading-m">Tell us what you think of this service</h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a href="https://gamreggbsurveys.azurewebsites.net/survey/r/12267c8e-d3f5-49f3-a4f3-38b3d96d3afa"
                                target="_blank">
                                Complete the survey</a> - It takes 2 minutes and survey opens in a new window

                        </p>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">
                        We are processing your application and you should receive a response within 5
                        working days.
                    </p>
                    <p class="govuk-body">
                        We may contact you either to request further documents or to ask for more information.
                    </p>




                </div>


            </div>


    </div>
</div>

{% endblock %}