{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            


            <form class="form" method="post">
                
                
<h1 class="govuk-heading-xl">
<span class="govuk-caption-xl">Apply</span>Pay your application fee of &pound;{{accountData.fee}} using a credit or debit card
</h1>

<div class="govuk-body">
You will not be able to submit your application until we have received payment for your application. This fee is non-refundable.
</div>



<div class="govuk-form-group ">
<label class="govuk-label" for="CardNumber">
    Card number
</label>
<span class="field-validation-valid govuk-error-message" data-valmsg-for="CardNumber" data-valmsg-replace="true"></span>
<span id="CardNumber-hint" class="govuk-hint">The 16 digit number on the card</span>
<input type="number" name="CardNumber" class="govuk-input"  id="CardNumber" />
</div>


<div class="govuk-form-group ">
<label class="govuk-label" for="ExpiryDate">
    Expiry date
</label>
<span class="field-validation-valid govuk-error-message" data-valmsg-for="ExpiryDate" data-valmsg-replace="true"></span>
<span id="ExpiryDate-hint" class="govuk-hint">For example, 2 1985</span>
<div class="govuk-date-input" id="ExpiryDate">
    <div class="govuk-date-input__item govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="ExpiryDate-month">
                Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="ExpiryDate-month" name="ExpiryDate-month" type="number" pattern="[0-9]{1,2}">
        </div>
    </div>
    <div class="govuk-date-input__item govuk-date-input__item--year">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="ExpiryDate-year">
                Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="ExpiryDate-year" name="ExpiryDate-year" type="number" pattern="[0-9]{4}">
        </div>
    </div>
</div>
</div>


<div class="govuk-form-group ">
<label class="govuk-label" for="Cvc">
    Card security code
</label>
<span class="field-validation-valid govuk-error-message" data-valmsg-for="Cvc" data-valmsg-replace="true"></span>
<span id="Cvc-hint" class="govuk-hint">This is the last 3 digits on the back of the card</span>
<input type="number" name="Cvc" class="govuk-input govuk-input--width-2"  id="Cvc" />
</div>


<div class="govuk-form-group">
<input class="govuk-button" type="submit" value="Pay and submit your application" name="submitAction">
</div>
            <input name="PFL.Antiforgery" type="hidden" value="9wxZWUh-721udk915veYSgRnCArNbzH3jLIU6RzqRvwH8xtZPKRvgWGGyP679oWY" /></form>

        </div>
    </div>

{% endblock %}