{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Surrender request received
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
       
        <div class="gc-panel gc-panel--complete">
                    <h1 class="govuk-heading-l">Surrender request received</h1>
                    <p class="govuk-!-font-size-24">
                        Your reference is: 1-12345678
                    </p> 
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        We have sent you an email confirming your request.
                     </p>                     
                  </div>
                  
            
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">We will process your request to surrender your personal licence, this takes about 7 days. </p>
                             
                <p class="govuk-body">We will email you when this has been completed. </p>
                <p class="govuk-body">You will need to apply for a new personal licence if you intend to work in a similar role in future. </p>


                <h2 class="govuk-heading-m">What do you want to do now?</h2>
                <p class="govuk-body">You can <a href="/">sign out</a></p>

      

    
    </div>

</div>


{% endblock %}