{% extends "layout-signedin.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/maintenance/personal/name" class="govuk-back-link">Back</a>

            
 
      
            <form method="POST"> 
                 

                          <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="dob-correct-conditional-hint">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                                <span class="govuk-caption-l">Renew your licence</span>
                                            <h1 class="govuk-fieldset__heading">
                                              Is your date of birth correct?
                                            </h1>
                                          </legend>
                                         
                                          <div class="govuk-inset-text">
                                                <p class="govuk-body"><span class="govuk-!-font-weight-bold">Date of birth we hold</span>
                                                </p>  <p class="govuk-body">
                                                {{accountData.dateOfBirth | date('DD MMMM YYYY')}} 
                                                        </p>
                                              </div>
                                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="dob-correct-conditional-1" name="dob-correct" type="radio" value="yes" data-aria-controls="conditional-dob-correct-conditional-1"  {{ checked('dob-correct', 'yes') }}>
                                      <label class="govuk-label govuk-radios__label" for="dob-correct-conditional-1">
                                        Yes
                                      </label>
                                    </div>
                                   
                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="dob-correct-conditional-2" name="dob-correct" type="radio" value="no" data-aria-controls="conditional-dob-correct-conditional-2" {{ checked('dob-correct', 'no') }}>
                                      <label class="govuk-label govuk-radios__label" for="dob-correct-conditional-2">
                                        No
                                      </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dob-correct-conditional-2">
                                            <div class="govuk-form-group">
                                                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                                                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                        <h1 class="govuk-fieldset__heading">
                                                          What is your date of birth?
                                                        </h1>
                                                      </legend>
                                                      <span id="dob-hint" class="govuk-hint">
                                                        For example, 31 3 1980
                                                      </span>
                                                      <div class="govuk-date-input" id="dob">
                                                        <div class="govuk-date-input__item">
                                                          <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                                                              Day
                                                            </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" value="{{data['dob-day'] }}">
                                                          </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                          <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                                                              Month
                                                            </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*"value="{{data['dob-month'] }}">
                                                          </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                          <div class="govuk-form-group">
                                                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                                                              Year
                                                            </label>
                                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*"value="{{data['dob-year'] }}">
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </fieldset>
                                                  </div>
                                    </div>
                                   
                                  </div>
                                </fieldset>
                              </div>

                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </form>

           
    </div>

</div>

{% endblock %}