{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Maintain your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <a href="/{{version}}/maintenance/assessment/current-home-address" class="govuk-back-link">Back</a>




    <form method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="current-corr-address-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Maintain your licence</span>
            <h1 class="govuk-fieldset__heading">
              Is this your correspondence address?
            </h1>
          </legend>

          <div class="govuk-inset-text">
           
            <p class="govuk-body">
              {{accountData.correspondenceAddress.street}}<br />
              {{accountData.correspondenceAddress.city}}<br />
              {{accountData.correspondenceAddress.postcode}}<br />
              {{accountData.correspondenceAddress.country}}<br /><br />
              
              From {{accountData.correspondenceAddress.since | date('MMMM YYYY') }}
            </p>
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-corr-address-1" name="current-corr-address" type="radio" value="yes"
                {{ checked('current-corr-address', 'yes') }}>
              <label class="govuk-label govuk-radios__label" for="current-corr-address-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="current-corr-address-2" name="current-corr-address" type="radio" value="no"
              {{ checked('current-corr-address', 'no') }}>
              <label class="govuk-label govuk-radios__label" for="current-corr-address-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>
    </form>


  </div>

</div>

{% endblock %}