{% extends "layout-signedin.html" %}

{% block pageTitle %}
Change your email address
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <a href="/{{version}}/account/manage" class="govuk-back-link">Back</a>
            <span class="govuk-caption-l">Manage your details</span>
            <h1 class="govuk-heading-l">
                Change your mobile number
            </h1>
          
    <p class="govuk-body">Before changing your number, make sure you have your mobile nearby as we'll send a code to it for you to confirm.</p>
            <form method="POST">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="mobile">
                        Mobile number
                    </label>
                    <input class="govuk-input" id="mobile" name="mobile" type="text" value="{{accountData.contactDetails.mobile}}">
                </div>
    
                <button type="submit" class="govuk-button">
                    Send me a code
                </button>
                <a href="/{{version}}/account/manage" role="button" type="submit" class="govuk-button gc-button-secondary">
                        Return to manage your details
                </a>
    
               
            </form>
           
        </div>
    
    </div>


{% endblock %}