{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Guidance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
       
        <a href="/{{version}}/maintenance/assessment/financial" class="govuk-back-link">Back</a>
        <span class="govuk-caption-l">Renew your licence</span>
      

        <form method="POST"> 
                 

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="bankrupt-hint" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                      <h1 class="govuk-fieldset__heading">
                        When did this happen?
                      </h1>
                    </legend>
                    <span id="bankrupt-hint" class="govuk-hint">
                      For example, 31 3 2018
                    </span>
                    <div class="govuk-date-input" id="bankrupt">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="bankrupt-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="bankrupt-day" name="bankrupt-day" type="number" pattern="[0-9]*" value="{{data['bankrupt-day']}}">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="bankrupt-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="bankrupt-month" name="bankrupt-month" type="number" pattern="[0-9]*"value="{{data['bankrupt-month']}}">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="bankrupt-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="bankrupt-year" name="bankrupt-year" type="number" pattern="[0-9]*"value="{{data['bankrupt-year']}}">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                  <button type="submit" class="govuk-button">
                      Save and continue
                  </button>
              </form>

    </div>

</div>


{% endblock %}