{% extends "layout-signedin.html" %}

{% block pageTitle %}
Guidance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
       
        <a href="/{{version}}/maintenance/assessment/keep" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">
            We may not be able to renew your licence
        </h1>


        <p class="govuk-body">
            You have indicated that in the last 5 years you have:
        </p>

<ul class="govuk-list govuk-list--bullet">
    <li>been declared bankrupt</li>
    <li>been sequestrated</li>
    <li>entered into an agreement with creditors</li>
    <li>entered into an Individual Voluntary Agreement (IVA)</li>    
    <li>or entered into a protected trust deed</li>
  </ul>


        <h2 class="govuk-heading-m">
            If you want to keep your licence
        </h2>

        <p class="govuk-body">
            You can still renew your licence online, however, we may refuse the application.
        </p>


      <form method="POST">
        <button type="submit" class="govuk-button">
          Continue to renew my licence
          </button>
      </form>


    </div>

</div>


{% endblock %}