{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Guidance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
       
        <a href="/{{version}}/maintenance/assessment/keep" class="govuk-back-link">Back</a>
        <span class="govuk-caption-l">Surrender your licence</span>
        <h1 class="govuk-heading-xl">
                Tell us why you no longer need your licence
        </h1>

        <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  Surrendering your licence is not reversable. If you intend to work in the same or similar role in future, you will need to apply for a new licence.
                </strong>
              </div>


      <form method="POST">
            <div class="govuk-form-group">
                    <label class="govuk-label" for="why-surrender">
                      Details
                    </label>
                    <span id="why-surrender-hint" class="govuk-hint">
                      Do not include personal or financial information, like your National Insurance number or credit card details.
                    </span>
                    <textarea class="govuk-textarea" id=why-surrender" name="why-surrender" rows="5" aria-describedby="why-surrender-hint"></textarea>
                  </div>
        <button type="submit" class="govuk-button">
          Send surrender request
          </button>
      </form>


    </div>

</div>


{% endblock %}