{% extends "layout-signedin.html" %}

{% block pageTitle %}
What is your new correspondence address?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/account/manage" class="govuk-back-link">Back</a>

        <form method="POST">
          
                <span class="govuk-caption-l">Correspondence address</span>
                <h1 class="govuk-heading-l">
                        What is the postcode of your new correspondence address?
                </h1>
                <p class="govuk-body">Your correspondence address must be an address in the UK. 
                        <p class="govuk-body">Ensure that this address is able to receive any documents we send by post.</p>
        
                <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                      </div>
                    

            <button type="submit" class="govuk-button">
                Find address
            </button>
        </form>


    </div>

</div>

{% endblock %}