{% extends "layout-signedin.html" %}

{% block pageTitle %}
What is your new correspondence address?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
      
            <div class="gc-panel gc-panel--complete">
                    <h1 class="govuk-heading-l">Your correspondence address has been updated</h1>
                           
                    <p class="govuk-body"><a href="/{{version}}/account/manage">
                        Return to manage your details
                    </a></p>
                  </div>
                  
            
                <h2 class="govuk-heading-m">We have:</h2>

                <ul class="govuk-list govuk-list--bullet">
                    <li>sent you an email confirming this change</li>      
                    <li>changed the address on your account</li>   
                </ul>



    </div>

</div>

{% endblock %}