{% extends "layout-signedin.html" %}

{% block pageTitle %}
Change your password
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <a href="/{{version}}/account/manage" class="govuk-back-link">Back</a>

      

            <span class="govuk-caption-l">Manage your details</span>
            <h1 class="govuk-heading-l">
                Change your password
            </h1>
            
            <div class="gc-panel gc-panel--complete">
                    <h2 class="govuk-heading-l">Password updated</h2>
                    <p class="govuk-!-font-size-24">
                        We have sent you an email confirming your password has been changed.
                    </p> 
                    <p class="govuk-body">Return to <a href="/{{version}}/account/manage">manage your details</a></p>
                    
                  </div>
            <p class="govuk-body">You can use a password manager to create a strong password. A password manager creates a randomised password unique to this service - this makes it more difficult to guess by someone pretending to be you.
                    <p class="govuk-body">  
                Do not create a password that contains:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Mothers maiden name</li> 
                <li>Your place of birth</li>
                <li>Your first school</li>
                <li>Your pet's name</li>
                <li>Street you grew up on</li>
            </ul>
    
            <form method="POST">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="password">
                        New password
                    </label>
                    <input class="govuk-input" id="password" name="password" type="password">
                </div>
                <div class="govuk-form-group">
                        <label class="govuk-label" for="rpassword">
                            Repeat password
                        </label>
                        <input class="govuk-input" id="rpassword" name="rpassword" type="password">
                    </div>
    
                <button type="submit" class="govuk-button">
                    Save
                </button>
                <a href="/{{version}}/account/manage" role="button" type="submit" class="govuk-button gc-button-secondary">
                        Return to manage your details
                </a>
    
               
            </form>
            
        </div>
    
    </div>


{% endblock %}