{% extends "layout-signedin.html" %}

{% block pageTitle %}
Change your password
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <a href="/{{version}}/account/manage" class="govuk-back-link">Back</a>
            <span class="govuk-caption-l">Manage your details</span>
            <h1 class="govuk-heading-l">
                Change your password
            </h1>
            <p class="govuk-body">We suggest you create a strong password. For example:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Use a password manager</li>
                <li>Use a minimum of 8 characters</li>
                <li>Use three or more words with spaces</li>
                <li>Use a mix of upper and lower case letters</li>
            </ul>
    
            <form method="POST">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-width-two-thirds" for="password">
                        New password
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
                </div>
                <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-two-thirds" for="rpassword">
                            Repeat password
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="rpassword" name="rpassword" type="password">
                    </div>
    
                <button type="submit" class="govuk-button">
                    Save
                </button>
                <p>
                    <a href="/{{version}}/account/manage" class="govuk-link">Cancel and return to manage your details</a>
                </p>
    
               
            </form>
            
        </div>
    
    </div>


{% endblock %}