{% extends "layout.html" %}

{% block pageTitle %}
Registration
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  
        <section id="maintenancePanel">
                <div class="gc-alert gc-alert-error">
                    <h2 class="govuk-heading-l">We couldn't register you</h2>
                    <p class="govuk-body">If you think the details you have provided are incorrect, you can <a href="/{{version}}/security/createaccount">go back</a> and try again.</p>
                    <p class="govuk-body">If you are still having trouble <a href="">contact us</a> and we will assist you.</p>
                    <p class="govuk-body">Return to the <a href="https://www.gamblingcommission.gov.uk" target="_Blank">Gambling Commission website</a></p>
                </div>
            </section>
     
  </div>
</div>

{% endblock %}