{% extends "layout.html" %}

{% block pageTitle %}
Set up a new password
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Set a new password
    </h1>

    <p class="govuk-body">We suggest you create a strong password. For example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Use a password manager</li>
      <li>Use a minimum of 8 characters</li>
      <li>Use three or more words with spaces</li>
      <li>Use a mix of upper and lower case letters</li>
    </ul>

    <form method="POST">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-two-thirds" for="password">
          Password
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-two-thirds" for="repeat-password">
          Confirm your password
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="repeat-password" name="repeat-password" type="text">
      </div>
      <button type="submit" class="govuk-button">
        Save password
      </button>
    </form>

  </div>
</div>

{% endblock %}