{% extends "layout.html" %}

{% block pageTitle %}
Registration
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <section id="maintenancePanel">
                <div class="gc-alert gc-alert-important">
                    <h2 class="govuk-heading-l">Check your email</h2>
                    <p class="govuk-body">We have sent you an email which will let you set up a password for your account.</p>
                    <p class="govuk-body">Return to the <a href="https://www.gamblingcommission.gov.uk" target="_Blank">Gambling Commission website</a></p>
                </div>
            </section>
  
  
     
  </div>
</div>

{% endblock %}