{% extends "layoutpfl.html" %}

{% block pageTitle %}
Gambling Commission Prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/financial/where" class="govuk-back-link">Back</a>
    <form method="POST">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Financial</span>
            <h1 class="govuk-fieldset__heading">
            What was the name of the court or organisation taking this action?
            </h1>
          </legend>
          <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                  Name
                </label>
                <input class="govuk-input" id="name" name="name" type="text">
              </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}