{% extends "layout-lccp.html" %}

{% block pageTitle %}
Part 3 of the LCCP
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Licence Conditions and Codes of Practice</span>
        <h1 class="govuk-heading-l">
            Part 3
        </h1>
        <p class="govuk-body-l">Suite of general conditions to be attached to personal licences under Section 75 of the
            Gambling Act 2005 </p>

        <ul class="govuk-list govuk-list--number">
            <li>Personal licence holders must take all reasonable steps to ensure that the way in which they carry out
                their responsibilities in relation to licensed activities does not place the holder of the operating or
                any relevant premises licence in breach of their licence conditions</li>
            <li>Personal licence holders must keep themselves informed of developments in gambling legislation, codes of practice and any Commission guidance (whether issued on the Commission’s website or communicated directly to licence holders) relevant to their role. Holders of personal functional licences must keep their technical competence in respect of their licensed activities up to date.</li>
            <li>Personal licence holders must notify the Commission of the occurrence of any of the following key events within five working days, or as soon as reasonable practicable after the licensee becomes aware of the event’s occurrence[1]:
      
            <ul class="govuk-list gc-list--alpha">
                    <li>their subjection to any criminal investigation which is listed under Schedule 7 Relevant Offences of the Gambling Act 2005; </li>
            <li>their conviction of any offence listed under Schedule 7 – Relevant Offences of the Gambling Act 2005; </li>
            <li>any current or pending investigation by a professional, statutory, regulatory or government body in Great Britain or abroad; </li>
            <li>the imposition of any sanction or penalty against them following an investigation by any professional, statutory, regulatory or government body in Great Britain or abroad; </li>
            <li>the imposition of a disciplinary sanction against them, including dismissal, for gross misconduct; </li>
            <li>their resignation from a position for which a personal licence is required following commencement of disciplinary proceedings in respect of gross misconduct;</li>
            <li>their disqualification from acting as a company director; </li> 
            <li>the presentation of a petition for their bankruptcy or sequestration or their entering into an individual voluntary agreement; </li> 
            <li>a change in their name or address</li> 
        </ul>

        <p class="govuk-body"> 
        [1] These matters can be reported securely online at the Commission’s website through our eServices system <a href="">www.gamblingcommission.gov.uk</a> Alternatively, for operators unable to access this system, you can these events by email to: <a href="">key.events@gamblingcommission.gov.uk</a></a> 
           </p>
        </ul>

    </div>
</div>
{% endblock %}