{% extends "layout-signedin.html" %}

{% block pageTitle %}
Report an event
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
    
                <span class="govuk-caption-l">Report something that may affect your licence</span>
                <h1 class="govuk-heading-l">
                   Check your answers
                </h1>
          <p class="govuk-body">
            Check the details you have provided before continuing
          </p>
            
          <form method="post">
      
            <dl class="app-check-your-answers app-check-your-answers--short">
             
      
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                 When
                </dt>
                <dd class="app-check-your-answers__answer">
                        11 November 2018
                </dd>
                <dd class="app-check-your-answers__change">
                  <a href="step2">
                    Change<span class="govuk-visually-hidden"> when</span>
                  </a>
                </dd>
              </div>
      
              <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                     Details
                    </dt>
                    <dd class="app-check-your-answers__answer">
                      {{data['more-detail']}}
                    </dd>
                    <dd class="app-check-your-answers__change">
                      <a href="step3">
                        Change<span class="govuk-visually-hidden"> details</span>
                      </a>
                    </dd>
                  </div>
              
                  <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question">
                         Files
                        </dt>
                        <dd class="app-check-your-answers__answer">
                         No files uploaded
                        </dd>
                        <dd class="app-check-your-answers__change">
                          <a href="step6">
                            Change<span class="govuk-visually-hidden"> files</span>
                          </a>
                        </dd>
                      </div>
            </dl>
      
           
            <form method="POST">
                <div class="govuk-form-group">
                    <button class="govuk-button" type="submit">
                        Save and continue
                    </button>
                </div>
            </form>
      
      
      
        </div>
      
      </div>

{% endblock %}