{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Notification of bankruptcy or sequestration received
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
       
      <div class="gc-panel gc-panel--complete">
                    <h1 class="govuk-heading-l">Notification of bankruptcy or sequestration received</h1>
                    <p class="govuk-!-font-size-24">
                        Your reference is: 1-98765432
                    </p>                   
                  </div>
                  
            
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">We will process your submission and will email you when this has been completed. </p>
                <p class="govuk-body">You will need to apply for a new personal licence if you intend to work in a similar role in future. </p>


                <h2 class="govuk-heading-m">What do you want to do now?</h2>
                <p class="govuk-body">You can <a href="/">sign out</a></p>

    </div>

</div>


{% endblock %}