{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Maintain your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/maintenance/app/personal-sanctions" class="govuk-back-link">Back</a>




        <form action="" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="ke-disciplinary-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Maintain your licence</span>
                            In the last 5 years, have you had either of the following:

                        </h1>

                    </legend>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>any disciplinary sanctions, including dismissal for gross misconduct </li>
                        <li>or your resignation from a position for which a personal licence is required following
                            commencement of disciplinary proceedings in respect of gross misconduct</li>
                    </ul>




                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ke-disciplinary-1" name="disciplinary" type="radio"
                                value="yes" data-aria-controls="conditional-ke-disciplinary-1"
                                {{ checked('disciplinary','yes') }}>
                            <label class="govuk-label govuk-radios__label" for="ke-disciplinary-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ke-disciplinary-1">

                            <p class="govuk-body">
                                <a href="personal-disciplinary-add">Add details</a>
                            </p>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ke-disciplinary-2" name="disciplinary" type="radio"
                                value="no" data-aria-controls="conditional-ke-disciplinary-2"
                                {{ checked('disciplinary','no') }}>
                            <label class="govuk-label govuk-radios__label" for="ke-disciplinary-2">
                                No
                            </label>
                        </div>


                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock %}