{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Maintain your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <a href="/{{version}}/maintenance/tasks/list" class="govuk-back-link">Back</a>

    <span class="govuk-caption-l">Maintain your licence</span>
    <h1 class="govuk-heading-l">
      Choose a way to prove your identity
    </h1>

    <p class="govuk-body">To maintain your licence , we must confirm your identity. You can do this either through
      your employer or using GOV.UK Verify. </p>
    <p class="govuk-body">If you use GOV.UK Verify, you can then use this to access other government services
      online. </p>

    <h3 class="govuk-heading-s">
      Your employer
    </h3>
    <p class="govuk-body">You can ask your employer to check and confirm original identity documents and complete an <a
        href="#">ID Verification form</a>. </p>
    <p class="govuk-body">You will need to upload the completed form in the next step.</p>
    <form method="POST">
    <button type="submit" role="button" class="govuk-button">I'll ask my employer to check my ID documents</button>
</form>

    <h3 class="govuk-heading-s">
      GOV.UK Verify
    </h3>
    <p class="govuk-body">You can use GOV.UK verify and have your identity checked electronically. 
      </p>
      <p class="govuk-body">
      If you have not used GOV.UK Verify before, it will take about 15 minutes to complete your ID check the first time. It works best if you have:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a UK address</li>
      <li>a valid passport or photocard driving licence</li>
    </ul>
    <a href="https://govuk-verify.herokuapp.com/hub/verify-signin-picker?" role="button"  class="govuk-button">Use GOV.UK Verify</a>
    
  </div>

</div>

{% endblock %}