{% extends "layout-signedinRenew.html" %}

{% block pageTitle %}
Tasks
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">


            <div class="app-panel app-panel--success">
                    <h1 class="govuk-heading-l">DO NOT PROCEED ANY FURTHER</h1>
                    <p class="govuk-!-font-size-24">
                        These pages are still being prototyed
                    </p>                   
                  </div>




        <h1 class="govuk-heading-l">
            Renew your personal licence tasks
        </h1>


        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span>Assessment
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/assessment/check"
                            aria-describedby="eligibility-completed">
                            Check eligibility
                        </a>
                        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                    </li>

                </ul>
            </li>
            <li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">2. </span> Provide your address history
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/previousaddresses" aria-describedby="company-information-completed">
                                Addresses
                            </a>
                           
                        </li>
    
                    </ul>
                </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Personal details
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/sex" aria-describedby="company-information-completed">
                            Sex
                        </a>
                     
                    </li>
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/previousnames" aria-describedby="contact-details-completed">
                            Previous names
                        </a>
                     
                    </li>
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/placeofbirth">
                            Place of birth
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Address history
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/previousaddresses" aria-describedby="company-information-completed">
                            Previous addresses
                        </a>
                       
                    </li>

                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Disclosure and Barring Service
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/dbsconsent" aria-describedby="company-information-completed">
                            Consent and declaration
                        </a>                      
                    </li>
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/certaddress" aria-describedby="company-information-completed">
                            Certificate address
                        </a>                       
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">5. </span> Identity verification
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/verification" aria-describedby="company-information-completed">
                            Verification method
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">6. </span> Financial
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/financialactions" aria-describedby="company-information-completed">
                            Financial and bankruptcy actions
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">7. </span> Criminality
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/criminality" aria-describedby="company-information-completed">
                            Criminality details
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">8. </span> Apply
                </h2>
                <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/thirdparty">
                                    Third party permission
                                </a>
                            </li>
                            <li class="app-task-list__item">
                                    <a class="app-task-list__task-name" href="/{{version}}/maintenance/app/declaration">
                                        Declaration
                                    </a>
                                </li>
                    <li class="app-task-list__item">
                        <a class="app-task-list__task-name" href="#">
                            Submit and pay
                        </a>
                    </li>
                </ul>
            </li>
        </ol>

    </div>

</div>


{% endblock %}