{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/maintenance/app/personal-investigations" class="govuk-back-link">Back</a>




        <form action="" method="post">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="ke-sanctions-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Renew your licence</span>
                                In the last 5 years, have you had any sanction or penalty imposed on you following an investigation by any professional, statutory, regulatory or government body in Great Britain or abroad? 
                            </h1>
                        </legend>
                        
    
                    
    
                      
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ke-sanctions-1" name="sanctions" type="radio"
                                    value="yes" data-aria-controls="conditional-ke-sanctions-1"
                                    {{ checked('sanctions','yes') }}>
                                <label class="govuk-label govuk-radios__label" for="ke-sanctions-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ke-sanctions-1">
    
                                <p class="govuk-body">
                                    <a href="personal-sanctions-add">Add details</a>
                                </p>
    
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ke-sanctions-2" name="sanctions" type="radio"
                                    value="no" data-aria-controls="conditional-ke-sanctions-2"
                                    {{ checked('sanctions','no') }}>
                                <label class="govuk-label govuk-radios__label" for="ke-sanctions-2">
                                    No
                                </label>
                            </div>
    
    
                        </div>
                    </fieldset>
                </div>
    
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button">
                        Save and continue
                    </button>
                </div>
            </form>

    </div>
</div>

{% endblock %}