{% extends "layout-signedin.html" %}

{% block pageTitle %}
Report an event
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
            <div class="app-panel app-panel--success">
                    <h1 class="govuk-heading-l">Report submitted</h1>
                    <p class="govuk-!-font-size-24">
                        Your reference is: 1-7283934
                    </p>                   
                  </div>
                  
            
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">We will review the details and will contact you if we need any further information from you.</p>

               

                <h2 class="govuk-heading-m">What do you want to do now?</h2>
                <p class="govuk-body"><a href="/{{version}}/manage/keyevents/start/{{account.accountNumber}}">Report another event.</a></p> 
                <p class="govuk-body">Return to <a href="/{{version}}/account/hub/">your account hub</a></p>

      
    </div>

    

</div>

{% endblock %}