{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
We need some additional documents from you
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/{{appJourney.back}}" class="govuk-back-link">Back</a>
        <span class="govuk-caption-l">
                Overseas applicants
            </span>
        <h1 class="govuk-heading-l">
         Upload a file
        </h1>

          
       
        <form method="POST" action="/{{version}}/{{appJourney.submit}}">


                <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload-1">
                           File
                        </label>
                        <span id="file-upload-1-hint" class="govuk-hint">
                            We can accept png, jpg, pdf and office documents up to 50mb
                        </span>
        
                        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                    </div>
        
                    <div class="govuk-form-group">
                        <button type="submit" class="govuk-button">
                            Upload file
                        </button>
                    </div>

        </form>
        {% endblock %}