{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Maintain your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/{{appJourney.back}}" class="govuk-back-link">Back</a>
        <form method="POST" action="/{{version}}/{{appJourney.submit}}">

         
            <h1 class="govuk-heading-l">
                You need to pay &pound;170
            </h1>

           <p class="govuk-body">
                
            </p>
            <table class="govuk-table">
                <caption class="govuk-table__caption">Fee breakdown</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Reason</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Maintenance fee</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£145</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Admin variation fee<br/>
                    <span class="gc-table__meta">Update to date of birth</span>
                    </th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£25</td>
                  </tr>
                  <tr class="govuk-table__row gc-table__row--total">
                    <th class="govuk-table__header" scope="row">Total</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£170</td>
                  </tr>
                </tbody>
              </table>
                    
            <p class="govuk-body">
                You are required to pay the fee using your credit or debit card. We will not start processing your application until this fee is paid.
            </p>

            <h2 class="govuk-heading-m">
                The card must be:
            </h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>in your name</li>
                <li>registered at your home address</li>
            </ul>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  We are unable to accept payment of this fee from anyone except you. We will reject your application if the payment does not meet these requirements.
                </strong>
            </div>
  
   
            <div class="govuk-form-group ">
                <button type="submit" class="govuk-button">
                    Pay using credit or debit card
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}