
{% extends "layout.html" %}

{% block pageTitle %}
  Gambling Commission Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">
        Manage and maintain your personal licence prototype kit      
      </h1>
      <p>
        This kit demonstrates the prototypes available for managing and maintaining a personal licence.
      </p>

      
      
      <table class="govuk-table">
        <caption class="govuk-table__caption">Select an appropriate prototype:</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="agovuk-table__row">
            <th class="govuk-table__header" scope="row">1</th>
            <td class="govuk-table__cell"><a href="/version-1/security/signin">Phase 1 - Manage and maintain your personal licence</a></td>
          </tr>
         
        </tbody>
      </table>

    </div>
</div>

{% endblock %}
