{% extends "layout.html" %}

{% block pageTitle %}
Manage and renew your personal licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Manage and renew your personal licence

    </h1>
    <p>
      This service is for people who hold personal management or functional licences.
    </p>

    <p>
     This service allows you to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>download your licence</li>
      <li>report events in accordance with <a href="/version-5/lccp/part-3" target="_blank">Part 3 of the Licence Conditions and Codes of Practice</a> (link opens in a new window)</li>
      <li>keep your personal details up to date</li>
      <li>renew your licence every 5 years</li>
    </ul>



    <a href="/version-5/security/signin" class="govuk-button">Sign in</a>  <a href="/version-5/security/register" class="govuk-button gc-button-secondary">Register</a>

  </div>
</div>

{% endblock %}