{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/{{version}}/maintenance/app/personal-criminal" class="govuk-back-link">Back</a>




        <form action="" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="ke-criminal-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-xl">Renew your licence</span>In the last 5 years, have you:
                        </h1>
                    </legend>
                    <p class="govuk-body">

                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            been subject to any criminal investigation which is listed under Schedule 7 Relevant
                            Offences of the Gambling Act
                            2005
                        </li>
                        <li>
                            been convicted of any office which is listed under Schedule 7 Relevant Offences of the
                            Gambling Act
                            2005
                        </li>
                    </ul>

                    <p class="govuk-body">
                        Up to date list of <a href="http://www.legislation.gov.uk/ukpga/2005/19/schedule/7" target="_Blank">Schedule
                            7 Relevant Offences of the Gambling Act
                            2005</a> (link opens in a new window)
                    </p>

                    
                
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock %}