{% extends "layout-signedinRenewApp.html" %}

{% block pageTitle %}
Renew your licence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <a href="/{{version}}/maintenance/app/sex" class="govuk-back-link">Back</a>
 <span class="govuk-caption-xl">Renew your licence</span>
                        <h1 class="govuk-heading-xl">
                           Tell us about any previous names you've used
                        </h1>
                        <p class="govuk-body">You must tell us about any other names you've used.
                                For example, you may have changed your name through marriage.  </p>
        <form method="POST">

           
                <table class="govuk-table">
                        <caption class="govuk-table__caption"><span class="govuk-visually-hidden">Names</span></caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Name</th>
                                <th class="govuk-table__header" scope="col">Dates</th>
                                <th class="govuk-table__header" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row"> {{accountData.title}}
                                    {{accountData.firstName}} {{accountData.middleName}} {{accountData.lastName}}</th>
                                <td class="govuk-table__cell">{{accountData.dateOfBirth | date('DD MMM YYYY') }}
            
                                    {% if(data['current-home-address'] === 'no') %}
            
                                    {% set vdate %}
                                    {{data['address-end-day']}}/{{data['address-end-month']}}/{{data['address-end-year']}} {%
                                    endset %}
            
                                    to {{vdate | date('MMM YYYY')}}
                                    {%else%}
            
                                    to present
                                    {% endif %}
            
            
                                </td>
                                <td class="govuk-table__cell"><a href="">Manage</a> <span class="govuk-visually-hidden">{{accountData.homeAddress.street}}</span></td>
                            </tr>
            
                        </tbody>
                    </table>
            
                    <p class="govuk-body"><a href="">Add previous name</a></p>

            <button type="submit" class="govuk-button">
                Save and continue
            </button>
        </form>

    </div>

</div>

{% endblock %}